#container-fluid {
  margin-top: 30px;
  margin-bottom: 30px;
}

#container-fluid .message {
  margin-bottom: 2em;
}

#container-fluid .txt {
  text-align: center;
}

#container-fluid p {
  margin: 0 0 10px;
  font-size: 18px;
  line-height: 1.5;
}

#container-fluid .btn {
  float: right;
}

.intro_contact {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: black;
  background: url(../image/img_contact.jpg) no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.intro_contact .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.intro_contact .intro-body .brand-heading {
  font-size: 40px;
}

@media (min-width: 768px) {
  .intro_contact {
    height: 100%;
    padding: 0;
  }
  .intro_contact .intro-body .brand-heading {
    font-size: 100px;
  }
}
