
#container-fluid{
    margin-top: 30px;
    margin-bottom: 30px;
    .message{
        margin-bottom: 2em;
    }    
    .txt {
        text-align: center;
    }
    p{
        margin: 0 0 10px;
        font-size: 18px;
        line-height: 1.5;
    }
    .btn {
        float: right;
        -webkit-border-radius: 10;
        -moz-border-radius: 10;
        border-radius: 10px;
        font-family: Arial;
        color: #ffffff;
        font-size: 15px;
        background: #cccccc;
        padding: 5px 10px 5px 10px;
        text-decoration: none;
        &:hover{
            background: #595959;
            text-decoration: none;
        }
    }   
    input[type="text"], textarea{
        background-color: #eeeced;
        border: none;
    }        
}

.intro_contact {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: black;
    background: url(../image/img_contact.jpg) no-repeat bottom center scroll;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    .intro-body {
        display: table-cell;
        vertical-align: middle;
        .brand-heading {
            font-size: 40px;
        }
    }
    @media(min-width:768px) {
        height: 100%;
        padding: 0;
        .intro-body {
            .brand-heading {
                font-size: 100px;
            }
        }
    }
}