.ensemble_article{
	margin-top: 60px;
	margin-left: 75px;
	background-image: url(../image/image_article.jpg);
	background-size: 680px;
	background-repeat: no-repeat;
	.signature {
		color: $couleursignature;
		font-style: italic;
	}
	.image_article {
	width: 95%;
	}
	h1 {
		margin-bottom: 10px;
		margin-top: 10px;
	}
	p {
		margin-bottom: 0px;
	}
}

@media(max-width:768px) {
    .ensemble_article{
        background-size:100%;
    }
}

.intro_actu {

    background: url(../image/image_header_actu.jpg) no-repeat bottom center scroll;
    @include intro;
}
