
#container-fluid{
    margin-top: 30px;
    margin-bottom: 30px;
    .message{
        margin-bottom: 2em;
    }    
    .txt {
        text-align: center;
    }
    p{
        margin: 0 0 10px;
        font-size: 18px;
        line-height: 1.5;
    }
    .btn {
        float: right;
        -webkit-border-radius: 10;
        -moz-border-radius: 10;
        border-radius: 10px;
        font-family: Arial;
        color: #ffffff;
        font-size: 15px;
        background: $couleurformulaire;
        padding: 5px 10px 5px 10px;
        text-decoration: none;
        &:hover{
            background: $couleurformulaire_hover;
            text-decoration: none;
        }
    }   
    input[type="text"], textarea{
        background-color: $couleurformulaire;
        border: none;
    }        
}

.intro_contact {

    background: url(../image/img_contact.jpg) no-repeat bottom center scroll;
    @include intro;
}