$couleursignature: grey;

$fontbody: "Lora","Helvetica Neue",Helvetica,Arial,sans-serif;

$fonthnav: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;

$couleurformulaire: #cccccc;

$couleurformulaire_hover: #595959;

$couleurH: black;

$couleurP: black;

$colorbackground: white;