/*-----------------FIRST PART-----------------*/

$couleurheader: black;
$imageheader: url(../image/head.jpg);
$couleurpoliceh: white;


/*-----------------SECOND PART-----------------*/

$couleurequipe: white;


/*-----------------THIRD PART-----------------*/

$couleurcompetence: white;


/*-----------------FOURTH PART-----------------*/


$couleursfooter :black;
$couleurpolicef: white;

